/** FONTS **/

h1 {
    font-family: 'Libre Baskerville', serif;
}

h2 {
    font-family: 'Libre Baskerville', serif;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.5;
    letter-spacing: normal;
}

/** CARDS **/
.card-header {
    padding-top: 1.5rem;
    padding-left: 1.5rem;

    .tag {
        color: var(--bs-teal);
        padding: 8px 16px;
        border-radius: $border-radius-pill;
        background-color: $gray-100;
        text-transform: uppercase;
        font-weight: $font-weight-semibold;
    }

}

.card-title span {
    font-weight: 300;
}

/** BUTTONS **/
.btn {
    transition-duration: 275ms;
    transition-timing-function: ease;
    border-radius: 0.5rem;
    font-weight: 400;
    padding: 10px 19px;
    border-width: 2px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn-info {
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-bg: none;
}

.btn-info:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, var(--bs-red) 50%, rgba(var(--bs-secondary-rgb), 1) 100%);
}

.btn-secondary {
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-white);
    --bs-btn-disabled-bg: var(--bs-secondary);
    --bs-btn-disabled-border-color: var(--bs-secondary);
}

a,
.btn-link {
    text-transform: uppercase;
    font-weight: 700;
}

.bg-image {
    background-size: cover;
    background-position: center;
}

.logo {
    background-color: var(--bs-light);
    mask: var(--logo);
    -webkit-mask: var(--logo);
    mask-size: cover;
    -webkit-mask-size: cover;
    height: 3rem;
    width: 12rem;
    margin-top: 9px;

    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/** LISTS **/
li {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
}

/** ACCORDION **/
.accordion {
    --bs-accordion-bg: none;
}

.accordion-item {
    background-color: #fff;
    border-radius: 50px !important;
    margin-bottom: 5px;
}

.accordion-button:focus {
    border-radius: 50px !important;
}

.accordion-button:not(.collapsed) {
    border-top-right-radius: 30px !important;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: #d5dcff;
    border-color: #d5dcff;
}

.accordion-body {
    padding: 10px 35px 35px 35px;
}

/** OTHER **/
nav {
    background-color: var(--bs-black);
    font-family: 'Poppins', sans-serif;
}

header p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


.infobox {
    padding: 24px;
    border: 1px solid var(--bs-teal);
    border-radius: 25px;
    background-color: #2b7fa3;
}

.modal-content {
    background-color: var(--bs-body-color);
}

.modal-content .btn-close {
    --bs-btn-close-color: #000;
}

.infobox h4 {
    font-size: var(--bs-body-font-size);
    text-transform: uppercase;
    font-weight: 700;
}
